@forward '../../config/config';
@use '../../config/config' as *;

.footer {
  margin-top: 20px;
  @include flexSetup(row, flex-start, space-between);
  width: 90%;

  &__about {
    @include flexSetup(column, flex-start, space-around);

    &__title {
      display: block;
      height: 90px;
      margin-bottom: 60px;
    }

    &__content {
      @include flexSetup(row, center, flex-start);
      width: 100%;
      margin-bottom: 20px;

      &__icon {
        @include flexSetup(row, center, space-between);
        font-size: 1.3rem;
        width: 10%;
        color: $white-color;
        margin-right: 15px;
      }

      &__text {
        color: $gray-color;
        font-size: 1.1rem;

        &:hover {
          color: $white-color;
        }
      }
    }

    &__social-media {
      @include flexSetup(row, center, space-around);
      margin-bottom: 20px;
      margin-top: 40px;

      &__link {
        display: block;
        position: relative;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: white;
        margin-right: 0.5rem;
  
        &:hover {
          top: -1px;
        }
  
        &__icon {
          @include flexSetup();
          font-size: 1rem;
          height: 100%;
          width: 100%;
          color: $black-color;
        }
      }
    }
  }

  &__categories {
    
    @include flexSetup(column, flex-start, space-between);
    margin-top: 73px;
    
    &__title {
      font-size: 1.2rem;
      color: $white-color;
      margin-bottom: 55px;
    }

    &__list {
      list-style-type: none;
      @include flexSetup(column, flex-start, flex-start);

      &__item {
        margin-bottom: 27px;

        &__content {
          font-size: 1.1rem;
          color: $gray-color;

          &:hover {
            color: $white-color;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &__email {
    margin-top: 73px;
    
    @include flexSetup(column, flex-start, space-between);

    &__title {
      color: $white-color;
      font-size: 1.2rem;
      margin-bottom: 55px;
    }

    &__form {
      @include flexSetup(column, flex-start, flex-start);
      width: 100%;
      
      &__email-input {
        font-size: 1.1rem;
        padding: 2px;
        width: 250px;
        margin-bottom: 10px;
        color: white;
        background: none;
      }

      &__message-input {
        padding: 2px;
        font-size: 1.1rem;
        width: 250px;
        height: 82px;
        resize: none;
        margin-bottom: 20px;
        background: none;
        color: white;
        border: 1px solid white;
      }

      &__submit-button {
        font-size: 1.1rem;
        width: 100px;
        padding: 4px;
        background: none;
        color: $gray-color;
        border: 1px solid white;
        cursor: pointer;
        &:hover {
          color: $white-color
        }
      }
    }
  }

  &__copyright {
    width: 90%;
    margin-bottom: 10px;

    &__text {
      color: $gray-color;
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    flex-direction: column;
    align-items: center;

    &__about {
      flex-direction: column;
      align-items: center;

      &__social-media {
        margin: 20px 0 0 0;
        align-items: center;
        width: 100%;
        justify-content: space-around;
      }
    }

    &__categories {
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      width: 90%;
      padding-top: 20px;
      border-top: 1px solid white;

      &__list {
        align-items: center;
      }
    }

    &__email {
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      margin-bottom: 50px;
      width: 90%;
      padding-top: 20px;
      border-top: 1px solid white;

      &__form {
        align-items: center;

        &__email-input {
          text-align: center;
          width: 90%;
        }

        &__message-input {
          text-align: center;
          width: 90%
        }

        &__submit-button {
          width: 90%;
        }
      }
    }

    &__copyright {
      width: 100%;
      text-align: center;
      padding-top: 5px;
      align-items: center;
    }
  }
}

@media (max-width: 1024px) {
  
}
