@forward '../../config/config';
@use '../../config/config' as *;

.menu {
  @include flexSetup();
  width: 100vw;
  min-height: 500px;
  height: 100vh;
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;

  &__list {
    @include flexSetup(row, center, space-around);
    width: 70%;

    &__item {
      list-style-type: none;

      &__content {
        font-size: 2rem;
        color: $white-color;
        transition: 0.3s ease-in-out;
        cursor: pointer;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

@keyframes openingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import './media_queries/media';