// IMPORTS

@forward '../../config/config';
@use '../../config/config' as *;


// ANIMATIONS

@keyframes blurAnimationOn {
  from {
    backdrop-filter: blur(0px);
  }

  to {
    backdrop-filter: blur(10px);
  }
}

@keyframes blurAnimationOff {
  from {
    backdrop-filter: blur(20px);
    opacity: 1;
  }

  to {
    backdrop-filter: blur(0px);
    opacity: 0;
  }
}

@keyframes menuOpening {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes menuClosing {
  from {
    right: 0%;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}

@keyframes menuListAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


// STYLES

.menu {
  @include flexSetup();
  width: 100vw;
  min-height: 500px;
  height: 100vh;
  position: fixed;
  left: 0;
  display: none;
  z-index: 2;
  animation: blurAnimationOn 1s forwards;
  
  &--animate {
    animation: blurAnimationOff 0.5s forwards;
  }

  &--animateOpening {
    &::before {
      content: '';
      display: block;
      background-color: rgba(0, 0, 0, 0.85);
      position: absolute;
      right: -100%;
      width: 100vw;
      height: 100vh;
      animation: menuOpening 0.7s forwards ease;
    }
  }

  &--animateClosing {
    &::after {
      content: '';
      display: block;
      background-color: rgba(0, 0, 0, 0.85);
      position: absolute;
      right: 100%;
      width: 100vw;
      height: 100vh;
      animation: menuClosing 0.7s forwards ease;
    }
  }

  &__exit {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
  }

  &__list {
    @include flexSetup(row, center, space-around);
    width: 70%;

    &__item {
      list-style-type: none;

      &__content {
        font-size: 1.8rem;
        color: $white-color;
        transition: 0.3s ease-in-out;
        position: relative;
        z-index: 3;
        cursor: pointer;
      }
    }
  }
}


// IMPORTING MEDIA QUERIES

@import './media_queries/media';