// MEDIA QUERIES 

@media (max-width: 1200px) {
  .main__menu-icon {
    left: calc(100vw - 80px);
  }
}

@media (max-width: 1024px) {
  .main__grid {
    gap: 10px;

    &__item__title {
      font-size: 1.4rem;
    }

    &__item:nth-child(odd) {
      grid-column: 1 / 7;
    }

    &__item:nth-child(even) {
      grid-column: 7 / 13;
    }
  }
  
  .main__menu-icon {
    top: 10px;
    left: calc(100vw - 50px);
    transform: translate(0, 0);
  }
}

@media (max-width: 768px) {
  .main__grid {
    gap: 3px;

    &__item__title {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 480px) {
  .main__grid {
    gap: 2px;

    &__item__title {
      height: 100vh;
    }

    &__item:nth-child(n) {
      grid-column: 1 / 13;
    }
  }
}