// MEDIA QUERIES 

@media (max-width: 1200px) {
  .main__menu-icon {
    left: calc(100vw - 80px);
  }
}

@media (max-width: 1024px) {
  .main__menu-icon {
    top: 10px;
    left: calc(100vw - 50px);
    transform: translate(0, 0);
  }
}