@forward '../../../config/config';
@use '../../../config/config' as *;

.main {
  @include flexSetup(row, flex-start, flex-start);

  &__menu-icon {
    position: fixed;
    background: transparent;
    z-index: 3;
    right: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 37px;  // 37px
    height: 23px; // 23px
    cursor: pointer;
    outline: none;

    &__top-bar, &__middle-bar, &__bottom-bar {
      display: block;
      position: absolute;
      right: 0;
      height: 2px;
      margin-bottom: 8px;
      background-color: white;
      transition: 0.3s ease;
    }

    &__top-bar {
      width: 100%;
      top: 0;
    }

    &__middle-bar {
      width: 60%;
      top: 10px;
    }

    &__bottom-bar {
      width: 25%;
      top: 20px;
    }
  }

  &__grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    background: white;
    
    &__content {
      position: relative;
      height: 800px;
    }
  }
}

@media (min-width: 0px) {
  .main__grid-container {
    grid-template-columns: 1fr;
    gap: 3px;

    &__content {
      height: 300px;
    }
  }
}

@media (min-width: 320px) {
  .main__grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;

    &__content {
      height: 300px;
    }
  }
}

@media (min-width: 481px) {
  .main__grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;

    &__content {
      height: 600px;
    }
  }
}

@media (min-width: 769px) {
  .main__grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;

    &__content {
      height: 700px;
    }
  }
}

@media (min-width: 1025px) {
  .main__grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;

    &__content {
      height: 600px;
    }
  }
}

@media (min-width: 1201px) {
  .main__grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;

    &__content {
      height: 700px;
    }
  }
}

@media (max-width: 1024px) {
  .main__menu-icon {
    right: 3.4%;
    top: 50px;
  }
}

@media (max-width: 768px) {
  .main__menu-icon {
    right: 0px;
    top: 40px;
  }
}