// IMPORTS

@forward '../../../config/config';
@use '../../../config/config' as *;


// STYLES

.main {
  @include flexSetup(row, flex-start, flex-start);

  &__menu-icon {
    position: fixed;
    background: transparent;
    z-index: 3;
    left: calc(100vw - 100px);
    transform: translateY(-50%);
    top: 50%;
    width: 37px;
    height: 37px;
    cursor: pointer;
    outline: none;

    &__top-bar, &__middle-bar, &__bottom-bar {
      display: block;
      position: absolute;
      right: 0;
      height: 2px;
      background-color: white;
      transition: 0.3s ease;
    }

    &__top-bar {
      width: 100%;
      top: 7px;
    }

    &__middle-bar {
      width: 60%;
      top: 19px;
    }

    &__bottom-bar {
      width: 25%;
      top: 30px;
    }
  }
}


// IMPORTING MEDIA QUERIES

@import './media_queries/media';