@forward '../../../config/config';
@use '../../../config/config' as *;

.main {
  @include flexSetup(row, flex-start, flex-start);

  &__menu-icon {
    position: fixed;
    background: transparent;
    z-index: 3;
    left: calc(94%);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 37px;  // 37px
    height: 23px; // 23px
    outline: none;

    &__top-bar, &__middle-bar, &__bottom-bar {
      display: block;
      position: absolute;
      right: 0;
      height: 2px;
      margin-bottom: 8px;
      background-color: white;
      transition: 0.3s ease;
    }

    &__top-bar {
      width: 100%;
      top: 0;
    }

    &__middle-bar {
      width: 60%;
      top: 10px;
    }

    &__bottom-bar {
      width: 25%;
      top: 20px;
    }
  }

  &__grid-column {
    width: calc(100% / 3);
    @include flexSetup(column, center, center);
    
    &__picture {

    }
  }
}