// MEDIA QUERIES

@media (max-width: 1200px) {
  .photo-review {
    &__exit {
      left: calc(100vw - 80px);
    }
  }
}

@media (max-width: 1024px) {
  .photo-review {
    &__previous, &__next {
      margin: 10% 0;
      height: 80%;
      width: 45%;
    }

    &__previous {
      left: 5%;
    }
    
    &__picture {
      max-width: 85%;
    }

    &__next {
      right: 5%;
    }

    &__exit {
      top: 10px;
      left: calc(100vw - 50px);
      transform: translate(0, 0);
    }
  }
}

@media (max-width: 768px) {
  .photo-review {
    &__previous, &__next {
      height: 80%;
    }

    &__previous {
      left: 20px;
    }
    
    &__picture {
      max-width: 100%;
    }

    &__next {
      right: 20px;
    }
  }
}

@media (max-width: 480px) {
  .photo-review {
    &__previous, &__next {
      width: 50%;
    }
  }
}