// MEDIA QUERIES

@media (max-width: 1024px) {
  .photo-review {
    &__previous, &__next {
      margin: 10% 0;
      height: 80%;
    }

    &__previous {
      left: 5%;
    }
    
    &__picture {
      max-width: 85%;
    }

    &__next {
      right: 5%;
    }

    &__exit {
      right: 0;
      top: 50px;
    }
  }
}

@media (max-width: 768px) {
  .photo-review {
    &__previous, &__next {
      margin: 10% 0;
      height: 80%;
    }

    &__previous {
      left: 15px;
    }
    
    &__picture {
      max-width: 100%;
    }

    &__next {
      right: 15px;
    }

    &__exit {
      top: 25px;
      right: 0;
    }
  }
}