// IMPORTS

@forward '../../config/config';
@use '../../config/config' as *;

// STYLES

.header {
  @include flexSetup();
  background: $black-color;
  height: 120px;

  &__logo {
    height: calc(100% - 40px);
    width: 100%;
    background: url('../../../img/long_logo_white.png') no-repeat center;
    background-size: contain;
  }
}

// MEDIA QUERIES

@import './media_queries/media';