// IMPORTS

@forward '../../config/config';
@use '../../config/config' as *;

// HEADER FONTS

%useLatoBold {
  font-family: 'LatoWebBold', sans-serif;
}

%useLatoThin {
  font-family: 'LatoWebThin', sans-serif;
}

@font-face {
  font-family: 'LatoWebBold';
  src: url('Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWebThin';
    src: url('Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


// STYLES

.header {
  @include flexSetup(row, center, center);
  background: $black-color;
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 0;

  &__logo {
    width: 230px;
    font-size: 18px;
    @include flexSetup(column, center, center);
    cursor: pointer;

    &__title {
      width: 100%;
      @include flexSetup(row, center, center);

      &__name {
        width: 100%;
        @include flexSetup(row, flex-start, space-between);

        &__letter {
          @include flexSetup(row, flex-start, center);
          color: $white-color;
          @extend %useLatoThin;
          line-height: 1;
          
        }
      }

      &__brand {
        width: 100%;
        @include flexSetup(row, flex-start, space-between);

        &__letter {
          @include flexSetup(row, flex-start, center);
          color: $white-color;
          @extend %useLatoBold;
          line-height: 1.2;
        }
      }
    }
  }

  &__mode-changer {
    position: fixed;
    left: calc(100vw - 92px);
    top: 94%;
    @include flexSetup(row, center, space-between);

    &__container {
      position: relative;
      @include flexSetup(row, flex-start, flex-start);
      height: 18px;
      border-radius: 10px;
      width: 30px;
      background: $black-color;
      border: 3px solid white;
      cursor: pointer;
      outline: none;
      
      &__button {
        display: block;
        height: 16px;
        border-radius: 50%;
        width: 16px;
        background: $white-color;
        position: absolute;
        top: -2px;
        left: 0;
        transition: 0.2s ease;
      }
    }
  }
}


// IMPORTING MEDIA QUERIES

@import './media_queries/media';