@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes spinnerAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinnerAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spinnerClosing {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.7;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes spinnerClosing {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.7;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}
@-webkit-keyframes spinnerBackgroundClosing {
  from {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    opacity: 1;
  }
  to {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    opacity: 0;
  }
}
@keyframes spinnerBackgroundClosing {
  from {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    opacity: 1;
  }
  to {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    opacity: 0;
  }
}
.spinner {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.95);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.spinner--animate-exit {
  -webkit-animation: spinnerBackgroundClosing 1s forwards;
          animation: spinnerBackgroundClosing 1s forwards;
}
.spinner__item {
  width: 30px;
  height: 30px;
  border: 6px solid white;
  border-top: 6px solid transparent;
  border-radius: 50%;
  -webkit-animation: spinnerAnimation 0.5s infinite linear;
          animation: spinnerAnimation 0.5s infinite linear;
}
.spinner__item--animate-exit {
  -webkit-animation: spinnerAnimation 0.5s infinite linear, spinnerClosing 0.5s forwards linear;
          animation: spinnerAnimation 0.5s infinite linear, spinnerClosing 0.5s forwards linear;
}
/*# sourceMappingURL=spinner.css.map */