@forward '../../../config/config';
@use '../../../config/config' as *;

.picture {
  display: block;
  position: absolute;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
  
  &:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
  }
}