// IMPORTS

@forward '../../../config/config';
@use '../../../config/config' as *;


// STYLES

.picture {
  @include flexSetup(row, flex-start, center);
  margin-bottom: 5px;
  margin-right: 5px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  
  &:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
  }

  &__img {
    @include flexSetup();
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    pointer-events: none;
  }
}
#picture3 { 

}