@media (max-width: 1024px) {
  .main__grid {
    gap: 10px;

    &__item__title {
      font-size: 1.4rem;
    }

    &__item__photo:nth-child(odd), &__item__artwork:nth-child(odd) {
      grid-column: 1 / 7;
      margin-top: 0;
    }

    &__item__photo:nth-child(even), &__item__artwork:nth-child(even) {
      grid-column: 7 / 13;
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .main__grid {
    gap: 3px;

    &__item__title {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 480px) {
  .main__grid {
    gap: 2px;

    &__item__title {
      height: 100vh;
    }

    &__item__photo:nth-child(n), &__item__artwork:nth-child(n) {
      margin-top: 0;
      grid-column: 1 / 13;
    }
  }
}
