// MEDIA QUERIES

@media(max-width: 1200px) {
  .header {
    height: 80px;

    &__logo {
      font-size: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    height: fit-content;
    flex-direction: column;

    &__logo {
      font-size: 15px;
      margin: 15px 0;
    }
    &__mode-changer {
      position: static;
      margin-bottom: 10px;
    }
  }
}