@forward '../../../config/config';
@use '../../../config/config' as *;

.photo-review {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.85);

  &__previous, &__next {
    display: block;
    z-index: 5;
    position: absolute;
    top: 120px;
    width: 50%;
    height: 100%;
    max-height: calc(94% - 1.4rem - 120px);
    outline: none;
    background: none;
    cursor: pointer;
  }

  &__previous__top-bar,
  &__previous__bottom-bar,
  &__next__top-bar,
  &__next__bottom-bar {
    display: block;
    position: absolute;
    height: 35px;
    background: $gray-color;
    width: 3px;
  }

  &__previous {
    left: 0;

    &__top-bar {
      top: 50%;
      left: 10%;
      transform: rotate(135deg) translateY(24%);
    }

    &__bottom-bar {
      bottom: 50%;
      left: 10%;
      transform: rotate(45deg) translateY(24%);
    }
  }

  &__picture {
    margin: 120px auto 0 auto;
    max-height: calc(94% - 1.4rem - 120px);
    max-width: 70%;
  }
    
  &__title {
    position: absolute;
    bottom: 3%;
    width: 100%;
    z-index: 5;
    color: $white-color;
    text-align: center;
    font-size: 1.4rem;
  }

  &__next {
   right: 0;

    &__top-bar {
      top: 50%;
      right: 10%;
      transform: rotate(45deg) translateY(-24%);
    }
    
    &__bottom-bar {
      bottom: 50%;
      right: 10%;
      transform: rotate(135deg) translateY(-24%);
    }
  }

  &__back {
    position: absolute;
    font-size: 1.4rem;
    z-index: 5;
    color: $gray-color;
    bottom: 3%;
    right: calc(5% - 35px / 2);
    cursor: pointer;

    &:hover {
      color: $white-color;
    }
  }
}

@import './media_queries/media';