// IMPORTS

@forward '../../../config/config';
@use '../../../config/config' as *;


// ANIMATIONS

@keyframes fakedOpacityAnimationOff {
  from {
    background: rgba(0, 0, 0, 0.75);
  }

  to {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes fakedOpacityAnimationOn {
  from {
    background: rgba(0, 0, 0, 0);
  }

  to {
    background: rgba(0, 0, 0, 0.75);
  }
}

@keyframes blurAnimationOn {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(20px);
  }
}

@keyframes blurAnimationOff {
  from {
    backdrop-filter: blur(20px);
  }
  
  to {
    backdrop-filter: blur(0px);
  }
}

@keyframes opacityAnimationOn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacityAnimationOff {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes titleAnimationOff {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}


// STYLES

.photo-review {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(20px);
  animation: blurAnimationOn 0.5s forwards, fakedOpacityAnimationOn 0.5s forwards;
  @include flexSetup(column, center, center);

  &--animate-exit {
    animation: blurAnimationOff 0.5s forwards, fakedOpacityAnimationOff 0.5s forwards;
  }

  &__previous, &__next {
    display: block;
    z-index: 5;
    position: absolute;
    width: 40%;
    height: 100%;
    outline: none;
    background: none;
    cursor: pointer;
    
    &--animate-exit {
      animation: opacityAnimationOff 0.3s forwards ease;
    }
  }

  &__previous__top-bar,
  &__previous__bottom-bar,
  &__next__top-bar,
  &__next__bottom-bar {
    display: block;
    position: absolute;
    height: 20px;
    background: $gray-color;
    width: 3px;
  }

  &__previous {
    left: 10%;

    &__top-bar {
      top: 50%;
      left: 0%;
      transform: rotate(135deg) translateY(24%);
    }

    &__bottom-bar {
      bottom: 50%;
      left: 0%;
      transform: rotate(45deg) translateY(24%);
    }
  }

  &__picture {
    display: block;
    max-height: calc(100% - 3.8rem);
    margin-bottom: 1rem;
    max-width: 75%;
    opacity: 0;

    &--animate {
      animation: opacityAnimationOn 0.5s forwards ease;
    }
    
    &--animate-exit {
      animation: opacityAnimationOff 0.3s forwards ease;
    }
  }

  &__title {
    z-index: 5;
    color: $white-color;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    opacity: 0;

    &--animate {
      animation: opacityAnimationOn 1s forwards ease;
      animation-delay: 0.2s;
    }

    &--animate-exit {
      animation: titleAnimationOff 0.3s forwards ease;
    }
  }

  &__next {
    right: 10%;


    &__top-bar {
      top: 50%;
      right: 0%;
      transform: rotate(45deg) translateY(-24%);
    }
    
    &__bottom-bar {
      bottom: 50%;
      right: 0%;
      transform: rotate(135deg) translateY(-24%);
    }
  }

  &__exit {
    position: fixed;
    background: transparent;
    z-index: 3;
    left: calc(100vw - 100px);
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
    width: 37px;
    height: 37px;
    cursor: pointer;
    outline: none;

    &__top-bar, &__middle-bar, &__bottom-bar {
      display: block;
      position: absolute;
      right: 0;
      height: 2px;
      background-color: white;
      transition: 0.3s ease;
    }

    &__top-bar {
      width: 100%;
      top: 7px;
    }

    &__middle-bar {
      width: 60%;
      top: 19px;
    }

    &__bottom-bar {
      width: 25%;
      top: 30px;
    }
  }
}


// IMPORTING MEDIA QUERIES

@import './media_queries/media';