@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes blurAnimationOn {
  from {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

@keyframes blurAnimationOn {
  from {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}
@-webkit-keyframes blurAnimationOff {
  from {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  to {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
}
@keyframes blurAnimationOff {
  from {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  to {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
}
@-webkit-keyframes opacityAnimationOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityAnimationOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityAnimationOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacityAnimationOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.photo-review {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-animation: blurAnimationOn 1s forwards;
          animation: blurAnimationOn 1s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photo-review--animate-exit {
  -webkit-animation: blurAnimationOff 0.4s forwards;
          animation: blurAnimationOff 0.4s forwards;
}
.photo-review__previous, .photo-review__next {
  display: block;
  z-index: 5;
  position: absolute;
  width: 40%;
  height: 100%;
  outline: none;
  background: none;
  cursor: pointer;
}
.photo-review__previous--animate-exit, .photo-review__next--animate-exit {
  -webkit-animation: opacityAnimationOff 0.3s forwards;
          animation: opacityAnimationOff 0.3s forwards;
}
.photo-review__previous__top-bar, .photo-review__previous__bottom-bar, .photo-review__next__top-bar, .photo-review__next__bottom-bar {
  display: block;
  position: absolute;
  height: 20px;
  background: #828282;
  width: 3px;
}
.photo-review__previous {
  left: 10%;
}
.photo-review__previous__top-bar {
  top: 50%;
  left: 0%;
  -webkit-transform: rotate(135deg) translateY(24%);
          transform: rotate(135deg) translateY(24%);
}
.photo-review__previous__bottom-bar {
  bottom: 50%;
  left: 0%;
  -webkit-transform: rotate(45deg) translateY(24%);
          transform: rotate(45deg) translateY(24%);
}
.photo-review__picture {
  display: block;
  max-height: calc(100% - 3.8rem);
  margin-bottom: 1rem;
  max-width: 75%;
  opacity: 0;
}
.photo-review__picture--animate {
  -webkit-animation: opacityAnimationOn 0.7s forwards;
          animation: opacityAnimationOn 0.7s forwards;
}
.photo-review__picture--animate-exit {
  -webkit-animation: opacityAnimationOff 0.3s forwards;
          animation: opacityAnimationOff 0.3s forwards;
}
.photo-review__title {
  z-index: 5;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  opacity: 0;
}
.photo-review__title--animate {
  -webkit-animation: opacityAnimationOn 1s forwards;
          animation: opacityAnimationOn 1s forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.photo-review__title--animate-exit {
  -webkit-animation: opacityAnimationOff 0.3s forwards;
          animation: opacityAnimationOff 0.3s forwards;
}
.photo-review__next {
  right: 10%;
}
.photo-review__next__top-bar {
  top: 50%;
  right: 0%;
  -webkit-transform: rotate(45deg) translateY(-24%);
          transform: rotate(45deg) translateY(-24%);
}
.photo-review__next__bottom-bar {
  bottom: 50%;
  right: 0%;
  -webkit-transform: rotate(135deg) translateY(-24%);
          transform: rotate(135deg) translateY(-24%);
}
.photo-review__exit {
  position: fixed;
  background: transparent;
  z-index: 3;
  right: 50px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate(4%, -50%);
          transform: translate(4%, -50%);
  width: 37px;
  height: 23px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.photo-review__exit__top-bar, .photo-review__exit__middle-bar, .photo-review__exit__bottom-bar {
  display: block;
  position: absolute;
  right: 0;
  height: 2px;
  margin-bottom: 8px;
  background-color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.photo-review__exit__top-bar {
  width: 100%;
  top: 0;
}
.photo-review__exit__middle-bar {
  width: 60%;
  top: 10px;
}
.photo-review__exit__bottom-bar {
  width: 25%;
  top: 20px;
}

@media (max-width: 1024px) {
  .photo-review__previous, .photo-review__next {
    margin: 10% 0;
    height: 80%;
  }
  .photo-review__previous {
    left: 5%;
  }
  .photo-review__picture {
    max-width: 85%;
  }
  .photo-review__next {
    right: 5%;
  }
  .photo-review__exit {
    top: 50px;
    right: 25px;
  }
}
@media (max-width: 768px) {
  .photo-review__previous, .photo-review__next {
    margin: 10% 0;
    height: 80%;
  }
  .photo-review__previous {
    left: 15px;
  }
  .photo-review__picture {
    max-width: 100%;
  }
  .photo-review__next {
    right: 15px;
  }
  .photo-review__exit {
    top: 25px;
    right: 25px;
  }
}
/*# sourceMappingURL=photo_review.css.map */