// IMPORTS

@forward '../config/config';
@use '../config/config' as *;


// STYLES

body {
  font-size: 16px;
  background: $black-color;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}

#root {
  margin: 0 auto;
  width: 80%;
}