// IMPORTS

@forward '../config/config';
@use '../config/config' as *;


// STYLES

body {
  position: static;
  font-size: 16px;
  background: $black-color;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}

#root {
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 1024px) {
  #root {
    width: 86%;
  }
}

@media (max-width: 768px) {
  #root {
    width: 94%;
  }
}