// IMPORTS

@forward '../../../config/config';
@use '../../../config/config' as *;


// STYLES


.main__grid {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;

  &__item__title {
    @include flexSetup();
    color: white;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    min-height: 300px;
    letter-spacing: 0.2px;
  }
  
  
  &__item__photo, &__item__artwork { 
    height: 100%;
    width: 100%;
  }


  // PHOTOS GRID

  &__item__photo:nth-of-type(1) {
    grid-column: 1 / 5;
  }

  &__item__photo:nth-of-type(2) {  
    grid-column: 5 / 9;
  }

  &__item__photo:nth-of-type(3) {
    grid-column: 9 / 13;
  }

  &__item__photo:nth-of-type(4) {
    grid-column: 1 / 5;
  }

  &__item__photo:nth-of-type(5) {
    grid-column: 5 / 9;
  }

  &__item__photo:nth-of-type(6) {
    grid-column: 10 / 13;
    height: 80%;
  }

  &__item__photo:nth-of-type(7) {
    grid-column: 1 / 7;
  }

  &__item__photo:nth-of-type(8) {
    grid-column: 7 / 13;
  }

  &__item__photo:nth-of-type(9) {
    grid-column: 1 / 7;
  }

  &__item__photo:nth-of-type(10) {
    grid-column: 1 / 4;
  }

  &__item__photo:nth-of-type(11) {
    grid-column: 4 / 10;
  }

  &__item__photo:nth-of-type(12) {
    grid-column: 10 / 13;
  }

  &__item__photo:nth-of-type(13) {
    grid-column: 9 / 13;
  }

  &__item__photo:nth-of-type(14) {
    grid-column: 1 / 5;
  }

  &__item__photo:nth-of-type(15) {
    grid-column: 9 / 13;
  }

  &__item__photo:nth-of-type(16) {
    grid-column: 5 / 9;
    grid-row: 6;
  }


  // ARTWORKS GRID

  &__item__artwork:nth-of-type(1) {
    grid-column: 1 / 5;
  }

  &__item__artwork:nth-of-type(2) {  
    grid-column: 9 / 13;
  }

  &__item__artwork:nth-of-type(3) {
    grid-column: 1 / 5;
  }

  &__item__artwork:nth-of-type(4) {
    grid-column: 1 / 5;
  }

  &__item__artwork:nth-of-type(5) {
    grid-column: 1 / 5;
  }

  &__item__artwork:nth-of-type(6) {
    grid-column: 5 / 13;
    grid-row: 2;
  }

  &__item__artwork:nth-of-type(7) {
    grid-column: 5 / 9;
  }

  &__item__artwork:nth-of-type(8) {
    grid-column: 9 / 13;
  }

  &__item__artwork:nth-of-type(9) {
    grid-column: 8 / 13;
  }

  &__item__artwork:nth-of-type(10) {
    grid-column: 1 / 8;
    grid-row: 4;
  }

  &__item__artwork:nth-of-type(11) {
    grid-column: 1 / 4;
  }

  &__item__artwork:nth-of-type(12) {
    grid-column: 5 / 9;
    grid-row: 1;
  }

  &__item__artwork:nth-of-type(13) {
    grid-column: 9 / 13;
  }

  &__item__artwork:nth-of-type(14) {
    grid-column: 1 / 5;
  }

  &__item__artwork:nth-of-type(15) {
    grid-column: 9 / 13;
  }

  &__item__artwork:nth-of-type(16) {
    grid-column: 5 / 9;
    grid-row: 6;
  }
}


// IMPORTING MEDIA QUERIES

@import './media_queries/media';